.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  .Logo {
    height: 68px;
    width: 1240px;
  }
  
      .lien {
          text-decoration: none;
          color: #333;
          margin: 0 1rem;
    
    &:hover {
        color: #666;
    }
  }
}
