body{
    margin: 0 100px ;

}header{
padding:  4% 0;        
     
}
main{

    }.carousel{
        position: relative;
        img.leftArrow{
            bottom: 40%;
            position: absolute;
            
        }
        img.rightArrow{
            right: -19px;
            bottom: 40%;
            position: absolute;
            
        }
        img{
            border-radius: 2%;
        }
        p{
            position: relative;
            display: flex;
            justify-content: center;
            bottom: 60px;
        }
    
    
    }
