main {
  margin: 0 8%;
  div.carousel {
    position: relative;
    border-radius: 25px;
    height: 415px;
    button {
      border-block: none;
      padding-block: 0;
    }
    img.leftArrow {
      left: 55%;
    width: auto;
    position: absolute;
    max-height: 100px;
    bottom: 33%;
    }
    img.rightArrow {
      left: 55%;
    width: auto;
    position: absolute;
    max-height: 100px;
    bottom: 33%;

    }
    img {
      object-fit: none;
      height: 415px;
    }
    p {
      position: relative;
      display: flex;
      justify-content: center;
      bottom: 10%;
      color: white;
    }
  }
  .iSection {
    display: flex;
    justify-content: space-between;
    .info {
      .title_info {
        color: #ff6060;
        font-size: 36px;
        margin: 0;
        font-weight: 500;
        padding-bottom: 5px;
      }
      .location_info {
        font-size: 18px;
        margin: 0;
      }
      .tags_info {
        display: flex;
        padding-top: 20px;
        .tag_info {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 125px;
          height: 25px;
          background-color: #ff6060;
          margin-right: 10px;
          border-radius: 10px;
          color: white;
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
    .hostContainer {
      .host {
        display: flex;
        justify-content: flex-end;
        h3 {
          display: flex;
          padding-right: 20%;
          max-width: 50px;
        }
        img {
          border-radius: 50%;
          width: 75px;
          object-fit: cover;
        }
        .starsDiv {
          size: 10px;
        }
      }
    }
  }
  .adropDown {
    display: flex;
    width: auto;
    max-width: 1240px;
    .dropDown {
      padding-right: 10%;
      max-width: 580px;
    }
  }
}

@media screen and (max-width: 700px) {
  main {
    margin: 0 10px;
    div.carousel {
      height: 300px;
      max-width: 415px;
      img.leftArrow {
        max-width: 50px;
        right: 88%;
        position: absolute;
      }
      img.rightArrow {
        left: 82%;
        max-width: 50px;
        position: absolute;
      }
      img {
        width: 390px;
        height: 255px;
      }
    }
    .iSection {
      display: block;
      .hostContainer {
        .host {
          h3 {
            padding-right: 0%;
            max-width: 20%;
          }
        }
      }
    }
  }
}
