.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #f7f7f7;
  margin: 50px 0;
  border-radius: 25px;
  width: 92%;
  padding: 50px;
  gap: 50px;
}
.gallery .card {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #ff6060, #bc4652, #7a313d, #3e1d24, #000000);
}
.gallery .card h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 60%;
  font-size: 18px;
  line-height: 26px;
  color: white;
}
.gallery .card img {
  min-height: 10%;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  opacity: 0.85;
  -o-object-fit: cover;
     object-fit: cover;
  transition-duration: 400ms;
}
.gallery .card img:hover {
  opacity: 1;
  transition-duration: 400ms;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 700px) {
  .gallery {
    margin: 10px 15px;
    padding: 50px 0;
    background: none;
  }
  .gallery .card {
    height: 330px;
  }
}
footer {
  background: black;
  text-align: center;
  padding: 60px 30px;
  margin-top: 150px;
}
footer img {
  margin: auto;
}
footer p {
  color: white;
  margin-top: 30px;
  font-size: 24px;
}

@media screen and (max-width: 700px) {
  footer {
    margin-top: 47px;
  }
}
body {
  margin: 0;
}

.error {
  color: #FF6060;
  text-align: center;
  font-weight: bold;
}
.error .image_error {
  margin-bottom: 70px;
}
.error p {
  margin-bottom: 180px;
  font-size: 36px;
}
.error a {
  color: #FF6060;
  font-size: 18px;
}

@media screen and (max-width: 700px) {
  .error .image_error {
    height: 95px;
  }
}
.dropDown {
  margin: 40px auto;
  color: white;
  font-size: 24px;
  width: 65%;
  transition-duration: 400ms;
}

.dropDownAccommodation {
  display: flex;
  gap: 30px;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}
.dropDownAccommodation .dropDown_header {
  border-radius: 5px;
}

li {
  list-style-type: none;
}

.dropDown_header {
  display: flex;
  background-color: #ff6060;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 5px;
  padding: 10px;
  height: 52px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 2;
}

.dropDown_content {
  color: black;
  background-color: transparent;
  animation: slidein 1s ease-in-out;
  font-weight: bold;
  padding: 20px;
}

.dropDown_header img {
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.dropDown_header img.rotated {
  transform: rotate(-180deg);
}

@keyframes slidein {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(10px);
  }
}
@media screen and (max-width: 700px) {
  .dropDown {
    width: 90%;
  }
  .dropDown_header {
    height: 35px;
  }
  main .adropDown {
    display: flex;
    flex-direction: column;
  }
}
.bannerAccueil {
  display: flex;
  position: relative;
  width: auto;
  height: 223px;
}
.bannerAccueil_overlay {
  width: 100%;
  z-index: 0;
  background: black;
  border-radius: 25px;
}
.bannerAccueil_overlay img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 223px;
  opacity: 0.4;
  border-radius: 25px;
}
.bannerAccueil h1 {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  color: white;
  top: 25%;
  font-size: 50px;
  z-index: 3;
}

@media screen and (max-width: 700px) {
  .bannerAccueil {
    height: 110px;
    width: 400px;
  }
  .bannerAccueil_overlay img {
    height: 110px;
  }
  .bannerAccueil h1 {
    left: 10px;
    top: 0%;
    font-size: 24px;
    width: 48%;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 30px;
  padding: 4% 0;
}

.Nav ul {
  display: flex;
  gap: 50px;
  font-size: 24px;
  font-weight: 800;
}
.Nav ul a {
  text-decoration: none;
  color: black;
}
.Nav ul a.active {
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .header {
    margin: 0 10px;
  }
  .header_logo {
    width: 130px;
    height: 45px;
  }
}
.Nav ul {
  font-size: 17px;
}

main {
  margin: 0 47px;
}
main div.carousel {
  position: relative;
  border-radius: 25px;
  width: 1280px;
  height: 415px;
}
main div.carousel button {
  border-block: none;
  padding-block: 0;
}
main div.carousel img.leftArrow {
  right: 45%;
  position: absolute;
}
main div.carousel img.rightArrow {
  left: 45%;
  position: absolute;
}
main div.carousel img {
  -o-object-fit: none;
     object-fit: none;
  width: 1280px;
  height: 415px;
}
main div.carousel p {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 10%;
  color: white;
}
main .iSection {
  display: flex;
  justify-content: space-between;
}
main .iSection .info .title_info {
  color: #ff6060;
  font-size: 36px;
  margin: 0;
  font-weight: 500;
  padding-bottom: 5px;
}
main .iSection .info .location_info {
  font-size: 18px;
  margin: 0;
}
main .iSection .info .tags_info {
  display: flex;
  padding-top: 20px;
}
main .iSection .info .tags_info .tag_info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 25px;
  background-color: #ff6060;
  margin-right: 10px;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}
main .iSection .hostContainer .host {
  display: flex;
  justify-content: flex-end;
}
main .iSection .hostContainer .host h3 {
  display: flex;
  padding-right: 20%;
  max-width: 50px;
}
main .iSection .hostContainer .host img {
  border-radius: 50%;
  width: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .iSection .hostContainer .host .starsDiv {
  size: 10px;
}
main .adropDown {
  display: flex;
  width: auto;
  max-width: 1240px;
}
main .adropDown .dropDown {
  padding-right: 10%;
  max-width: 580px;
}

@media screen and (max-width: 700px) {
  main {
    margin: 0 10px;
  }
  main div.carousel {
    height: 300px;
    max-width: 415px;
  }
  main div.carousel img.leftArrow {
    max-width: 50px;
    right: 88%;
    position: absolute;
  }
  main div.carousel img.rightArrow {
    left: 82%;
    max-width: 50px;
    position: absolute;
  }
  main div.carousel img {
    width: 390px;
    height: 255px;
  }
  main .iSection {
    display: block;
  }
  main .iSection .hostContainer .host h3 {
    padding-right: 0%;
    max-width: 20%;
  }
}/*# sourceMappingURL=style.css.map */